.bp-button,
.bp-button-secondary {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 1rem 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.bp-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bp-button-primary {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
