.bp-button,
.bp-button-secondary {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 0.8rem 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  font-size: 0.9rem;
}

.bp-button:disabled {
  opacity: 0.5;
}

.bp-button:disabled:hover {
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.bp-link-button {
  text-decoration: none;
}

.bp-button:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bp-button-primary {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
