:root {
  --primary-color: #ffdd00;
  --secondary-color: #e8ecf4;
  --tertiary-color: #092056;
  --background-color: #f4f6f9;
  --base-font-size: 16px;
  --heading-scale-factor: 1.5;
  --heading-font-family: 'DM Sans', Arial, sans-serif;
}

.bp-header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1.5rem 0;
}

.bp-header-logo {
  width: 200px;
}

.bp-main {
  padding: 1rem 3rem;
}

.bp-button {
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.bg-white {
  background-color: white;
}

.gap-xs {
  gap: 0.2rem;
}

.gap-sm {
  gap: 0.4rem;
}

.m-xxs {
  margin: 0.2rem;
}

.m-xs {
  margin: 0.4rem;
}

.m-sm {
  margin: 0.8rem;
}

.m-md {
  margin: 1.2rem;
}

.m-lg {
  margin: 1.6rem;
}

.m-xl {
  margin: 2rem;
}

.m-2xl {
  margin: 2.4rem;
}

.m-3xl {
  margin: 2.8rem;
}

.my-auto {
  margin: auto 0;
}

.mx-auto {
  margin: auto 0;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-xs {
  margin-top: 0.4rem;
}

.mt-sm {
  margin-top: 0.6rem;
}

.mt-md {
  margin-top: 0.8rem;
}

.mt-lg {
  margin-top: 1rem;
}

.w-full {
  width: 100%;
}

.mt-xxs {
  margin-top: 0.2rem;
}

.mt-xs {
  margin-top: 0.4rem;
}

.mt-sm {
  margin-top: 0.8rem;
}

.mt-md {
  margin-top: 1.2rem;
}

.mt-lg {
  margin-top: 1.6rem;
}

.mt-xl {
  margin-top: 2rem;
}

.mt-2xl {
  margin-top: 2.4rem;
}

.mt-3xl {
  margin-top: 2.8rem;
}

.mb-xxs {
  margin-bottom: 0.2rem;
}

.mb-xs {
  margin-bottom: 0.4rem;
}

.mb-sm {
  margin-bottom: 0.8rem;
}

.mb-md {
  margin-bottom: 1.2rem;
}

.mb-lg {
  margin-bottom: 1.6rem;
}

.mb-xl {
  margin-bottom: 2rem;
}

.mb-2xl {
  margin-bottom: 2.4rem;
}

.mb-3xl {
  margin-bottom: 2.8rem;
}

.ml-xxs {
  margin-left: 0.2rem;
}

.ml-xs {
  margin-left: 0.4rem;
}

.ml-sm {
  margin-left: 0.8rem;
}

.ml-md {
  margin-left: 1.2rem;
}

.ml-lg {
  margin-left: 1.6rem;
}

.ml-xl {
  margin-left: 2rem;
}

.ml-2xl {
  margin-left: 2.4rem;
}

.ml-3xl {
  margin-left: 2.8rem;
}

.mr-xxs {
  margin-right: 0.2rem;
}

.mr-xs {
  margin-right: 0.4rem;
}

.mr-sm {
  margin-right: 0.8rem;
}

.mr-md {
  margin-right: 1.2rem;
}

.mr-lg {
  margin-right: 1.6rem;
}

.mr-xl {
  margin-right: 2rem;
}

.mr-2xl {
  margin-right: 2.4rem;
}

.mr-3xl {
  margin-right: 2.8rem;
}

.mx-xxs {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.mx-xs {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.mx-sm {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.mx-md {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.mx-lg {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.mx-xl {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-2xl {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.mx-3xl {
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}

.my-xxs {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.my-xs {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.my-sm {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.my-md {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.my-lg {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.my-xl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-2xl {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.my-3xl {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.p-xxs {
  padding: 0.2rem;
}

.p-xs {
  padding: 0.4rem;
}

.p-sm {
  padding: 0.8rem;
}

.p-md {
  padding: 1.2rem;
}

.p-lg {
  padding: 1.6rem;
}

.p-xl {
  padding: 2rem;
}

.p-2xl {
  padding: 2.4rem;
}

.p-3xl {
  padding: 2.8rem;
}

.pt-xxs {
  padding-top: 0.2rem;
}

.pt-xs {
  padding-top: 0.4rem;
}

.pt-sm {
  padding-top: 0.8rem;
}

.pt-md {
  padding-top: 1.2rem;
}

.pt-lg {
  padding-top: 1.6rem;
}

.pt-xl {
  padding-top: 2rem;
}

.pt-2xl {
  padding-top: 2.4rem;
}

.pt-3xl {
  padding-top: 2.8rem;
}

.pb-xxs {
  padding-bottom: 0.2rem;
}

.pb-xs {
  padding-bottom: 0.4rem;
}

.pb-sm {
  padding-bottom: 0.8rem;
}

.pb-md {
  padding-bottom: 1.2rem;
}

.pb-lg {
  padding-bottom: 1.6rem;
}

.pb-xl {
  padding-bottom: 2rem;
}

.pb-2xl {
  padding-bottom: 2.4rem;
}

.pb-3xl {
  padding-bottom: 2.8rem;
}

.pl-xxs {
  padding-left: 0.2rem;
}

.pl-xs {
  padding-left: 0.4rem;
}

.pl-sm {
  padding-left: 0.8rem;
}

.pl-md {
  padding-left: 1.2rem;
}

.pl-lg {
  padding-left: 1.6rem;
}

.pl-xl {
  padding-left: 2rem;
}

.pl-2xl {
  padding-left: 2.4rem;
}

.pl-3xl {
  padding-left: 2.8rem;
}

.pr-xxs {
  padding-right: 0.2rem;
}

.pr-xs {
  padding-right: 0.4rem;
}

.pr-sm {
  padding-right: 0.8rem;
}

.pr-md {
  padding-right: 1.2rem;
}

.pr-lg {
  padding-right: 1.6rem;
}

.pr-xl {
  padding-right: 2rem;
}

.pr-2xl {
  padding-right: 2.4rem;
}

.pr-3xl {
  padding-right: 2.8rem;
}

.px-xxs {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.px-xs {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.px-sm {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.px-md {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.px-lg {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.px-xl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-2xl {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.px-3xl {
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}

.py-xxs {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.py-xs {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.py-sm {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-md {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.py-lg {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.py-xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-2xl {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.py-3xl {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}

.gap-sm {
  gap: 0.8rem;
}

.gap-md {
  gap: 1.2rem;
}

.gap-lg {
  gap: 1.6rem;
}

.gap-xl {
  gap: 2rem;
}

.gap-2xl {
  gap: 2.4rem;
}

.gap-3xl {
  gap: 2.8rem;
}

.gap-4xl {
  gap: 3.2rem;
}

.block {
  display: block;
}
